@font-face {
  font-family: Champions;
  src: url(../../assets/font/Champions-Bold.ttf);
  font-weight: 400;
}

$fontFamily: "Champions", sans-serif;
$colorText: #fff;
$colorPrimary: #0e1e5b;
$colorSecondary: #091442;
$colorTerciario: #3562a6;
$colorAzulClaro: #3562a6;
$colorPreto: #0b0b0b;
